<div class="flex justify-center items-center w-full p-2">
  <div class="w-full lg:w-2/3 flex justify-center items-center">
    <p-chart type="doughnut" [data]="dayData"></p-chart>
    <p-chart type="doughnut" [data]="weekData"></p-chart>
    <p-chart type="doughnut" [data]="monthData"></p-chart>
  </div>
</div>

<p-table
  class="flex justify-center items-center p-2 w-full"
  styleClass="lg:w-2/3 w-full overflow-auto"
  [value]="timeOffToday"
  responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th colspan="3">Time Off Today</th>
    </tr>
    <tr *ngIf="timeOffToday.length > 0">
      <th>Name</th>
      <th>Duration</th>
      <th>Reason</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data.name }}</td>
      <td>{{ data.duration | hcTimeDuration }}</td>
      <td>{{ data.reason }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div *ngIf="timeOffToday.length === 0" class="flex items-center justify-content-between">No activity yet!</div>
  </ng-template>
</p-table>
