<div class="flex justify-center items-center w-full p-2">
  <div class="lg:grid lg:grid-cols-[1fr_auto] flex items-center flex-wrap lg:w-2/3 w-full">
    <form class="w-full">
      <formly-form class="flex justify-between flex-wrap" [fields]="fields" [model]="model" [form]="form"></formly-form>
    </form>
    <span class="lg:mt-4.8 lg:ml-5">
      <p-button (onClick)="onSave()" [icon]="icons.SAVE"></p-button>
      <p-button class="ml-5" (onClick)="exportExcel()" [icon]="icons.DOWNLOAD"></p-button>
    </span>
  </div>
</div>

<p-table
  class="flex justify-center items-center p-2"
  styleClass="lg:w-2/3 w-full overflow-auto"
  [value]="sortedTasks$ | async | hcDefaultValue: []"
  responsiveLayout="scroll"
  id="excel-table">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Project</th>
      <th>Date</th>
      <th>Duration</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-task>
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.project.name }}</td>
      <td>{{ task.date | date }}</td>
      <td>{{ task.duration | hcTimeDuration }}</td>
      <td>
        <p-button (onClick)="removeEntry(task)" [icon]="icons.TRASH"></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
